@tailwind base;
@tailwind components;
@tailwind utilities;

#butterflyTitle {
  font-family: "Minecraft", Calibri, Tahoma, sans-serif;
  letter-spacing: 2px;

  font-size: 50px;
}

#butterflyUnderTitle {
  font-family: "Minecraft", Calibri, Tahoma, sans-serif;
  letter-spacing: 2px;

  font-size: 30px;
}

#containerAnimals {
  display: block;
}
