@tailwind base;
@tailwind components;
@tailwind utilities;

#butterflyTitle {
  font-family: "Minecraft", Calibri, Tahoma, sans-serif;
  letter-spacing: 2px;

  font-size: 50px;
}

#butterflyUnderTitle {
  font-family: "Minecraft", Calibri, Tahoma, sans-serif;
  letter-spacing: 2px;

  font-size: 30px;
}

#containerAnimals {
  display: block;
}

#info {
  position: absolute;
  top: 60px;
  left: 10px;
  background: #181c20;
  color: #8c92a4;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 32px;
  pointer-events: none;
}